@using WSB_Management.Components.Layout
@using System.ComponentModel.DataAnnotations

@page "/customer"
@rendermode InteractiveServer
@layout MinimalLayout

<PageTitle>WSB-Sport - Login</PageTitle>
<HeadContent>
    <link rel="stylesheet" href="@Assets["customer.css"]" />
</HeadContent>
<div class="kunden-filter">
    <label for="nachname">Nachname</label>
    <label for="vorname">Vorname</label>
    <label for="startNr">Start #</label>
    <label for="email">Email</label>
    <label for="geburtsdatum">Geburtsdatum</label>
    <br>
    <input type="text" @bind="f_Nachname"/>
    <input type="text" @bind="f_Vorname" />
    <input type="text" @bind="f_StartNr" />
    <input type="text" @bind="f_Email" />
    <input type="date" @bind="f_Geb" />
    <input type="date" @bind="f_GebBis" />
    <button id="filter-button" class="filter-btn" @onclick="FilterCustomers">Kunden finden <img src="./search_icon.svg" alt="Search Icon"></button>
    <button id="reset-button" class="clear-btn" @onclick="ClearFilter">Clear</button>
</div>
<div class="group-div" style="height: 30rem;">
    <div class="kunden-liste-header">
        <p class="kunden-titel">Liste aller Kunden</p>
        <div class="header-btn">
            <button class="excel-btn"><img src="./download_icon.svg" alt="Dw Icon">Export to Excel</button>
            <button @onclick="AddCustomer"><img src="./add_icon.svg" alt="Add Icon">Kunde hinzufügen</button>
            <button class="regis-kunde-btn"><img src="./add_icon.svg" alt="Add Icon">Kunde anmelden</button>
        </div>
    </div>
    <table class="kunden-tabelle">
        <thead>
            <tr>
                <th>Nachname</th>
                <th>Vorname</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Geburtsdatum</th>
                <th>...</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody id="customer-table-body">
            @foreach (var customer in Customers)
            {
                <tr>
                    <td>@customer.Surname</td>
                    <td>@customer.Firstname</td>
                    <td>@customer.Mail</td>
                    <td>@customer.Phonenumber</td>
                    <td>@customer.Birthdate.ToString("dd.MM.yyyy")</td>
                    <td>...</td>
                    <td>
                        <button class="icon-btn tabel-edit-btn" @onclick="() => UpdateCustomer(customer)"><img src="./edit_icon.svg" alt="Bearbeiten" /></button>
                        <button class="icon-btn tabel-del-btn" @onclick="() => DeleteCustomer(customer.Id)"><img src="./delete_icon.svg" alt="Löschen" /></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="splitter"></div>
<div class="detail-group-div">
    <div class="kunden-details-group">
        <div class="detail-container">
            <label for="name">Name</label>
            <select id="name" name="name" aria-placeholder="Firma" class="firma-select">
                <!-- Muss besprochen werden -->
            </select>
            <input type="text" @bind="Vorname" placeholder="Vorname" class="name-input" />
            <input type="text" @bind="Nachname" placeholder="Nachname" class="name-input" />
        </div>
        <div>
            <label for="adresse">Adresse</label>
            <input type="text" @bind="Strasse" placeholder="Straße" class="adresse-input" />
            <input type="text" @bind="PlzOrt" placeholder="PLZ und Ort" class="adresse-input" />
        </div>
        <div>
            <label for="land">Land</label>
            <select @bind="SelectedLand" class="land-select">
                <option value="AT">AT</option>
                <option value="DE">DE</option>
                <option value="CH">CH</option>
                <option value="IT">IT</option>
                <option value="FR">FR</option>
            </select>
            <img src="" alt="flagge" class="flag-icon" />
            <label>Geb</label>
            <input type="date" @bind="Geburtsdatum" class="geb-input" />
            <input type="number" @bind="Alter" placeholder="18" disabled class="alter-input" />
        </div>
        <div>
            <label for="kontakt">Kontakt</label>
            <input type="email" @bind="Email" placeholder="E-Mail" class="kontakt-input" />
            <input type="tel" @bind="Telefon" placeholder="Telefon" class="kontakt-input" />
        </div>
        <div>
            <label for="notfall" class="notfall-label">NOTFALL</label>
            <input type="email" @bind="NotfallEmail" placeholder="Notfallkontakt" class="kontakt-input" />
            <input type="tel" @bind="NotfallTelefon" placeholder="Notfalltelefon" class="kontakt-input" />

        </div>
        <div>
            <label>UID</label>
            <input type="text" @bind="UID" placeholder="UID" class="uid-input" />
            <label>Sponsor</label>
            <input type="text" @bind="Sponsor" placeholder="Sponsor" class="sponsor-input" />
        </div>
        <div class="checkbox-wrapper">
            <label>Tc5K</label>
            <input type="checkbox" @bind="Tc5k" />
            <label>Teamchef</label>
            <input type="checkbox" @bind="Teamchef" />
            <label>Team</label>
            <select @bind="SelectedTeam" class="team-select">
                <option value="Team A">Team A</option>
                <option value="Team B">Team B</option>
                <option value="Team C">Team C</option>
            </select>
        </div>
        <div class="checkbox-wrapper">
            <label>END Cup</label>
            <input type="checkbox" @bind="EndCup" />
            <label>Teamchef</label>
            <input type="checkbox" @bind="EndCupTeamchef" />
            <label>Team</label>
            <select @bind="EndCupTeam" class="team-select">
                <option value="Team A">Team A</option>
                <option value="Team B">Team B</option>
                <option value="Team C">Team C</option>
            </select>
        </div>
        <div>
            <label>Guthaben</label>
            <input type="number" @bind="Guthaben" placeholder="Guthaben" />
            <input type="date" @bind="GuthabenDatum" />
            <input type="number" @bind="GuthabenBetrag" placeholder="Betrag" />
            <input type="text" @bind="GuthabenBemerkung" placeholder="Bemerkung" />
        </div>
        <div class="extra-wrapper">
            <label>Preisgeld</label>
            <input type="number" @bind="Preisgeld" placeholder="Preisgeld" />
            <label>Gratisfahrer</label>
            <input type="number" @bind="Gratisfahrer" placeholder="Gratisfahrer" />
            <label>Schurke</label>
            <input type="number" @bind="Schurke" placeholder="Schurke" />
            <label>Verzicht OK</label>
            <input type="checkbox" @bind="VerzichtOK" />
        </div>
        <div>
            <label>Gruppe</label>
            <select @bind="SelectedGruppe" class="gruppe-select">
                <option value="Gruppe 1">Gruppe 1</option>
                <option value="Gruppe 2">Gruppe 2</option>
                <option value="Gruppe 3">Gruppe 3</option>
            </select>
        </div>
    </div>
    <div class="bike-race-group">
        <div>
            <div class="bike-wrapper">
                <label>Bike</label>
                <select @bind="SelectedMarke">
                    <option value="Marke 1">Marke 1</option>
                    <option value="Marke 2">Marke 2</option>
                    <option value="Marke 3">Marke 3</option>
                        </select>
                        <label>Type</label>
                        <input type="text" @bind="Type" placeholder="Type" />
                        <label>Klasse</label>
                        <input type="text" @bind="Klasse" placeholder="Klasse" />
                        <label>Kunde seit</label>
                        <input type="date" @bind="KundeSeit" />
                    </div>
                    <div class="bike-wrapper2">
                        <label>Baujahr</label>
                        <input type="number" @bind="Baujahr" placeholder="Baujahr" />
                        <label>Youngtimer</label>
                        <input type="text" @bind="Youngtimer" placeholder="Youngtimer" />
                        <label class="letzte-buch-label">Letzte Buchung</label>
                        <input type="date" @bind="LetzteBuchung" placeholder="Letzte Buchung" />
                    </div>
                    <div class="bike-wrapper3">
                        <label>Start #</label>
                        <input type="text" @bind="StartNummer" placeholder="Start #" />
                        <label>Tran</label>
                        <input type="text" @bind="Tran" placeholder="Tran" />
                        <label>Tran ID</label>
                        <input type="text" @bind="TranID" placeholder="Tran ID" disabled class="tran-id" />
                        <label class="letzte-einkauf-label">Letzter Einkauf</label>
                        <input type="date" @bind="LetzterEinkauf" placeholder="Letzter Einkauf" />
                    </div>
                   <div class="bike-wrapper4">
                        <label class="s8s-label">S8S</label>
                        <input type="text" @bind="S8S" placeholder="S8S" />
                        <label>Speeddays</label>
                        <input type="text" @bind="Speeddays" placeholder="Speeddays" />
                    </div>
                </div>
                <div class="j-l-container">
                <div>
                    <p>Jahreswertung:</p>
                    <div class="jahreswertung-container">
                        <div class="jahreswertung-wrapper">
                            <div class="checkbox-wrapper">
                                <label>WSB Cup</label>
                                <input type="checkbox" @bind="WsbCup" />
                            </div>
                            <div class="checkbox-wrapper">
                                <label>Suzuki-Challenge</label>
                                <input type="checkbox" @bind="SuzukiChallenge" />
                            </div>
                            <div class="checkbox-wrapper">
                                <label>Ladies-Cup</label>
                                <input type="checkbox" @bind="LadiesCup" />
                            </div>
                            <div class="checkbox-wrapper">
                                <label>BMW Boxer Cup</label>
                                <input type="checkbox" @bind="BmwBoxerCup" />
                            </div>
                            <div class="checkbox-wrapper">
                                <label>Stock 1000 Cup</label>
                                <input type="checkbox" @bind="Stock1000Cup" />
                            </div>
                        </div>
                        <div class="jahreswertung-wrapper">
                            <div class="checkbox-wrapper">
                                <label>Ducati Challenge</label>
                                <input type="checkbox" @bind="DucatiChallenge" />
                            </div>
                            <div class="checkbox-wrapper">
                                <label>BMS S1000 Cup</label>
                                <input type="checkbox" @bind="BmsS1000Cup" />
                            </div>
                            <div class="checkbox-wrapper">
                                <label>Youngtimer CUP</label>
                                <input type="checkbox" @bind="YoungtimerCup" />
                            </div>
                            <div class="checkbox-wrapper">
                                <label>Lizenz</label>
                                <input type="checkbox" @bind="Lizenz" />
                            </div>
                            <div class="checkbox-wrapper">
                                <label>Jahreskarte</label>
                                <input type="checkbox" @bind="Jahreskarte" />
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                <p>Laptime Referenz:</p>
                <div>
                    <label>BRN</label>
                    <input type="text" @bind="BRN" placeholder="BRN (mm:ss,ss)" pattern="^([0-5]?[0-9]):([0-5][0-9]),[0-9]{2}$" title="Format: Minuten:Sekunden,Hundertstel (z.B. 01:23,45)" />
                    <label>MUG</label>
                    <input type="text" @bind="MUG" placeholder="MUG (mm:ss,ss)" pattern="^([0-5]?[0-9]):([0-5][0-9]),[0-9]{2}$" title="Format: Minuten:Sekunden,Hundertstel (z.B. 01:23,45)" />
                </div>
                <div>
                    <label>CRE</label>
                    <input type="text" @bind="CRE" placeholder="CRE (mm:ss,ss)" pattern="^([0-5]?[0-9]):([0-5][0-9]),[0-9]{2}$" title="Format: Minuten:Sekunden,Hundertstel (z.B. 01:23,45)" />
                    <label>PAN</label>
                    <input type="text" @bind="PAN" placeholder="PAN (mm:ss,ss)" pattern="^([0-5]?[0-9]):([0-5][0-9]),[0-9]{2}$" title="Format: Minuten:Sekunden,Hundertstel (z.B. 01:23,45)" />
                </div>
                <div>
                    <label>HUN</label>
                    <input type="text" @bind="HUN" placeholder="HUN (mm:ss,ss)" pattern="^([0-5]?[0-9]):([0-5][0-9]),[0-9]{2}$" title="Format: Minuten:Sekunden,Hundertstel (z.B. 01:23,45)" />
                    <label>RBR</label>
                    <input type="text" @bind="RBR" placeholder="RBR (mm:ss,ss)" pattern="^([0-5]?[0-9]):([0-5][0-9]),[0-9]{2}$" title="Format: Minuten:Sekunden,Hundertstel (z.B. 01:23,45)" />
                </div>
                <div>
                    <label>LAU</label>
                    <input type="text" @bind="LAU" placeholder="LAU (mm:ss,ss)" pattern="^([0-5]?[0-9]):([0-5][0-9]),[0-9]{2}$" title="Format: Minuten:Sekunden,Hundertstel (z.B. 01:23,45)" />
                    <label>RIJ</label>
                    <input type="text" @bind="RIJ" placeholder="RIJ (mm:ss,ss)" pattern="^([0-5]?[0-9]):([0-5][0-9]),[0-9]{2}$" title="Format: Minuten:Sekunden,Hundertstel (z.B. 01:23,45)" />
                </div>
                <div>
                    <label>MST</label>
                    <input type="text" @bind="MST" placeholder="MST (mm:ss,ss)" pattern="^([0-5]?[0-9]):([0-5][0-9]),[0-9]{2}$" title="Format: Minuten:Sekunden,Hundertstel (z.B. 01:23,45)" />
                    <label>SLO</label>
                    <input type="text" @bind="SLO" placeholder="SLO (mm:ss,ss)" pattern="^([0-5]?[0-9]):([0-5][0-9]),[0-9]{2}$" title="Format: Minuten:Sekunden,Hundertstel (z.B. 01:23,45)" />
                </div>
            </div>
        </div>
    </div>   
</div>